@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

text {
    font-family: Roboto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}
.mountain{
    margin: 24px 52px;
}

.target_box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(223, 228, 245, 1);
    border-radius: 5px;
    padding: 0 10px;
    margin: 24px;
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns{
    display: flex;
    align-items: center;
}
button {
    background-color: #ffffff;
    border: none;
}

h2 {
    color: rgba(5, 42, 52, 1);
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 114px;
    height: 30px;
    background-color: rgba(223, 228, 245, 1);
    padding: 8px 12px;
}

h3 {
    color: rgba(109, 122, 143, 1);
    margin: 4px;
    font-size: 18px;
}
p{
    color:rgba(49, 58, 62, 1);
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
}