@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Roboto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}
.steps{
    background-image: url(../imges/Mountain.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 581px;
}

.big-flag{
    position: relative;
    left: 50%;
    top: 6%;
}
.line{
    position: relative;
    top: 10px;
    left: -172px;
}
.big_flag{
    position: relative;
    top: 10px;
    left: -176px;
    height: 92px;
}
.task_btns{
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    flex-basis: content;
    height: 100%;
}
.left{
    align-self: flex-end;
}
.task_btn{
    background-color:rgba(71, 194, 147, 1);
    border-radius:10px;
    border:none;
    height: 23px;
}
.task_btn > span{
    line-height: 20px;
}
.target_info{
    margin: 24px;
}
.target_box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(223, 228, 245, 1);
    border-radius: 5px;
    padding: 0 10px;
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns{
    display: flex;
    align-items: center;
}
button {
    background-color: #ffffff;
    border: none;
}

h2 {
    color: rgba(5, 42, 52, 1);
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 114px;
    height: 30px;
    background-color: rgba(223, 228, 245, 1);
    padding: 8px 12px;
}

h3 {
    color: rgba(109, 122, 143, 1);
    margin: 4px;
    font-size: 18px;
}
p{
    color:rgba(49, 58, 62, 1);
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
}
.info_header{
    padding: 17px 0;
}
.info_box{
    padding: 10px;
}
.info:hover::after{
    content:attr(data-title);
    position: relative;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius:5px;
}

.check-list {
    list-style-type: none;
    padding:0;
}

li{
    margin: 8px 0;
}

